In [8]:
# Import dependencies

import pandas as pd
from pathlib import Path
import matplotlib.pyplot as pyplot
import scipy.stats as st
import numpy as np

# Set up csv path
batter_path = Path("Resources/batters2023.csv")
pitcher_path = Path("Resources/pitchers2023.csv")

# Import csv files as dataframes
batter_df = pd.read_csv(batter_path)
pitcher_df = pd.read_csv(pitcher_path)

In [23]:
batter_df

qbatter_df = batter_df.loc[batter_df['AB']> 100]

qbatter_df

,Player,Team,Pos,Age,G,AB,R,H,2B,3B,...,CS,BB,SO,SH,SF,HBP,AVG,OBP,SLG,OPS
0,Marcus Semien,TEX,2B,33,162,670,122,185,40,4,...,3,72,110,0,5,5,0.276,0.348,0.478,0.826
1,Julio Rodriguez,SEA,OF,23,155,654,102,180,37,2,...,10,47,175,0,2,11,0.275,0.333,0.485,0.818
2,Ronald Acuna,ATL,OF,26,159,643,149,217,35,4,...,14,80,84,0,3,9,0.337,0.416,0.596,1.012
3,Bobby Witt,KC,SS,23,158,641,97,177,28,11,...,15,40,121,1,8,4,0.276,0.319,0.495,0.814
4,Trea Turner,PHI,SS,30,155,639,102,170,35,5,...,0,45,150,0,1,6,0.266,0.320,0.459,0.779
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
452,Rene Pinto,TB,C,27,39,103,10,26,3,0,...,0,2,34,0,0,0,0.252,0.267,0.456,0.723
453,David Fry,CLE,C,28,58,101,12,24,6,0,...,0,8,30,0,0,4,0.238,0.319,0.416,0.735
454,Alika Williams,PIT,SS,24,46,101,7,20,5,0,...,0,9,35,1,0,1,0.198,0.270,0.248,0.518
455,Ronny Mauricio,NYM,2B,22,26,101,11,25,4,0,...,0,7,31,0,0,0,0.248,0.296,0.347,0.643
456,Jose Herrera,ARI,C,26,43,101,15,21,5,0,...,0,13,30,5,1,0,0.208,0.296,0.257,0.553

In [24]:
qbatter_df.dtypes

Player     object
Team       object
Pos        object
Age         int64
G           int64
AB          int64
R           int64
H           int64
2B          int64
3B          int64
HR          int64
RBI         int64
SB          int64
CS          int64
BB          int64
SO          int64
SH          int64
SF          int64
HBP         int64
AVG       float64
OBP       float64
SLG       float64
OPS       float64
dtype: object

In [27]:
# Generate a summary statistics table that shows data per team



# team hits mean

hits_mean = qbatter_df.groupby('Team').mean()['H']

# team homeruns mean

hr_mean = qbatter_df.groupby('Team').mean()['HR']

# team rbis mean

rbi_mean = qbatter_df.groupby('Team').mean()['RBI']

# team stolen bases mean

sb_mean = qbatter_df.groupby('Team').mean()['SB']

# caught stealing

cs_mean = qbatter_df.groupby('Team').mean()['CS']

# bases on balls

bb_mean = qbatter_df.groupby('Team').mean()['BB']

# strikeouts

so_mean = qbatter_df.groupby('Team').mean()['SO']

# AVG

ba_mean = qbatter_df.groupby('Team').mean()['AVG']


# OBP

obp_mean = qbatter_df.groupby('Team').mean()['OBP']

# SLG

slg_mean = qbatter_df.groupby('Team').mean()['SLG']


# OPS

ops_mean = qbatter_df.groupby('Team').mean()['OPS']


team_summary = pd.DataFrame({'Mean Hits': hits_mean,
                            'Mean Homeruns': hr_mean,
                            'Mean RBIS': rbi_mean,
                             'Mean Stolen Bases': sb_mean,
                            'Mean Caught Stealing': cs_mean,
                            'Mean Bases on Balls': bb_mean,
                             'Mean Strikeouts': so_mean,
                            'Mean Batting Average': ba_mean,
                            'Mean OBP': obp_mean,
                            'Mean SLG': slg_mean,
                            'Mean OPS': ops_mean})

team_summary

/var/folders/br/p0w3y3qn03dcsbdlblfvjywc0000gn/T/ipykernel_16440/2979545432.py:7: FutureWarning: The default value of numeric_only in DataFrameGroupBy.mean is deprecated. In a future version, numeric_only will default to False. Either specify numeric_only or select only columns which should be valid for the function.
  hits_mean = qbatter_df.groupby('Team').mean()['H']
/var/folders/br/p0w3y3qn03dcsbdlblfvjywc0000gn/T/ipykernel_16440/2979545432.py:11: FutureWarning: The default value of numeric_only in DataFrameGroupBy.mean is deprecated. In a future version, numeric_only will default to False. Either specify numeric_only or select only columns which should be valid for the function.
  hr_mean = qbatter_df.groupby('Team').mean()['HR']
/var/folders/br/p0w3y3qn03dcsbdlblfvjywc0000gn/T/ipykernel_16440/2979545432.py:15: FutureWarning: The default value of numeric_only in DataFrameGroupBy.mean is deprecated. In a future version, numeric_only will default to False. Either specify numeric_only or select only columns which should be valid for the function.
  rbi_mean = qbatter_df.groupby('Team').mean()['RBI']
/var/folders/br/p0w3y3qn03dcsbdlblfvjywc0000gn/T/ipykernel_16440/2979545432.py:19: FutureWarning: The default value of numeric_only in DataFrameGroupBy.mean is deprecated. In a future version, numeric_only will default to False. Either specify numeric_only or select only columns which should be valid for the function.
  sb_mean = qbatter_df.groupby('Team').mean()['SB']
/var/folders/br/p0w3y3qn03dcsbdlblfvjywc0000gn/T/ipykernel_16440/2979545432.py:23: FutureWarning: The default value of numeric_only in DataFrameGroupBy.mean is deprecated. In a future version, numeric_only will default to False. Either specify numeric_only or select only columns which should be valid for the function.
  cs_mean = qbatter_df.groupby('Team').mean()['CS']
/var/folders/br/p0w3y3qn03dcsbdlblfvjywc0000gn/T/ipykernel_16440/2979545432.py:27: FutureWarning: The default value of numeric_only in DataFrameGroupBy.mean is deprecated. In a future version, numeric_only will default to False. Either specify numeric_only or select only columns which should be valid for the function.
  bb_mean = qbatter_df.groupby('Team').mean()['BB']
/var/folders/br/p0w3y3qn03dcsbdlblfvjywc0000gn/T/ipykernel_16440/2979545432.py:31: FutureWarning: The default value of numeric_only in DataFrameGroupBy.mean is deprecated. In a future version, numeric_only will default to False. Either specify numeric_only or select only columns which should be valid for the function.
  so_mean = qbatter_df.groupby('Team').mean()['SO']
/var/folders/br/p0w3y3qn03dcsbdlblfvjywc0000gn/T/ipykernel_16440/2979545432.py:35: FutureWarning: The default value of numeric_only in DataFrameGroupBy.mean is deprecated. In a future version, numeric_only will default to False. Either specify numeric_only or select only columns which should be valid for the function.
  ba_mean = qbatter_df.groupby('Team').mean()['AVG']
/var/folders/br/p0w3y3qn03dcsbdlblfvjywc0000gn/T/ipykernel_16440/2979545432.py:40: FutureWarning: The default value of numeric_only in DataFrameGroupBy.mean is deprecated. In a future version, numeric_only will default to False. Either specify numeric_only or select only columns which should be valid for the function.
  obp_mean = qbatter_df.groupby('Team').mean()['OBP']
/var/folders/br/p0w3y3qn03dcsbdlblfvjywc0000gn/T/ipykernel_16440/2979545432.py:44: FutureWarning: The default value of numeric_only in DataFrameGroupBy.mean is deprecated. In a future version, numeric_only will default to False. Either specify numeric_only or select only columns which should be valid for the function.
  slg_mean = qbatter_df.groupby('Team').mean()['SLG']
/var/folders/br/p0w3y3qn03dcsbdlblfvjywc0000gn/T/ipykernel_16440/2979545432.py:49: FutureWarning: The default value of numeric_only in DataFrameGroupBy.mean is deprecated. In a future version, numeric_only will default to False. Either specify numeric_only or select only columns which should be valid for the function.
  ops_mean = qbatter_df.groupby('Team').mean()['OPS']

,Mean Hits,Mean Homeruns,Mean RBIS,Mean Stolen Bases,Mean Caught Stealing,Mean Bases on Balls,Mean Strikeouts,Mean Batting Average,Mean OBP,Mean SLG,Mean OPS
Team,,,,,,,,,,,
ARI,84.333333,10.733333,44.266667,10.666667,1.466667,33.466667,75.333333,0.242933,0.314667,0.386267,0.700933
ATL,134.272727,27.454545,80.545455,10.727273,2.272727,47.272727,109.454545,0.270091,0.335455,0.493182,0.828636
BAL,97.000000,12.928571,54.285714,8.000000,1.714286,34.714286,92.571429,0.256286,0.319714,0.419000,0.738714
BOS,83.375000,10.875000,43.187500,6.062500,1.375000,27.312500,76.875000,0.252250,0.311500,0.410687,0.722187
CHC,89.000000,12.266667,49.000000,9.066667,2.133333,36.066667,84.866667,0.248400,0.325133,0.405533,0.730667
CIN,75.941176,11.058824,41.235294,10.823529,2.647059,30.294118,81.176471,0.249412,0.324765,0.416941,0.741706
CLE,79.294118,7.294118,35.941176,8.823529,2.117647,27.058824,64.529412,0.236176,0.300235,0.369765,0.670000
COL,76.647059,9.176471,37.882353,4.352941,1.411765,25.411765,85.529412,0.247529,0.308706,0.396941,0.705647
CWS,87.285714,11.571429,40.928571,5.000000,1.428571,24.285714,90.285714,0.234786,0.286071,0.380714,0.666786
DET,82.066667,10.600000,40.133333,5.533333,1.333333,32.200000,92.733333,0.233067,0.304333,0.373200,0.677533
HOU,115.833333,18.000000,64.833333,8.833333,2.583333,43.166667,97.000000,0.262167,0.331083,0.445583,0.776667
KC,77.687500,9.875000,38.312500,9.250000,2.937500,23.437500,78.937500,0.240375,0.300938,0.397562,0.698500
LAA,68.055556,12.055556,36.444444,2.777778,1.277778,25.833333,73.500000,0.241444,0.313278,0.411944,0.725222
LAD,97.928571,17.000000,59.714286,7.142857,1.642857,43.785714,90.285714,0.251714,0.328857,0.436000,0.764857
MIA,84.500000,10.125000,37.937500,4.812500,1.125000,25.937500,75.375000,0.251188,0.310125,0.396187,0.706313
MIL,74.937500,9.375000,40.250000,7.687500,1.625000,33.937500,78.625000,0.241125,0.319750,0.381188,0.700937
MIN,76.176471,13.352941,42.882353,4.705882,1.000000,34.117647,94.411765,0.244588,0.327706,0.432471,0.760176
NYM,72.352941,12.294118,39.647059,6.529412,0.882353,30.000000,73.294118,0.236647,0.312941,0.393176,0.706118
NYY,69.750000,12.562500,36.812500,5.562500,1.812500,32.187500,79.437500,0.222938,0.297250,0.393375,0.690625
OAK,62.611111,9.388889,30.444444,7.777778,1.500000,25.944444,78.666667,0.218611,0.287833,0.363611,0.651444
PHI,97.928571,15.285714,53.500000,9.714286,1.500000,36.428571,100.357143,0.251000,0.316714,0.415714,0.732429
PIT,66.722222,8.055556,33.555556,5.888889,2.277778,28.666667,74.444444,0.235167,0.307333,0.369778,0.677111
SD,81.933333,13.066667,45.066667,8.533333,1.933333,41.866667,79.666667,0.237733,0.324600,0.400933,0.725533
SEA,84.800000,13.533333,46.400000,6.866667,1.733333,33.666667,100.600000,0.235800,0.310000,0.407200,0.717200
SF,73.875000,10.562500,38.562500,3.187500,1.000000,31.687500,83.000000,0.230187,0.305875,0.380000,0.685875
STL,91.142857,14.214286,46.642857,6.857143,1.857143,37.785714,85.500000,0.245929,0.320714,0.409643,0.730357
TB,96.142857,16.000000,55.928571,11.071429,2.714286,34.214286,93.785714,0.256500,0.320000,0.445929,0.765929
TEX,116.500000,18.583333,67.250000,6.000000,1.416667,47.333333,108.250000,0.261000,0.338750,0.445500,0.784250
TOR,105.692308,14.307692,52.384615,7.538462,2.615385,40.846154,95.538462,0.255077,0.333462,0.428308,0.761769
WAS,88.800000,9.533333,42.533333,8.200000,1.933333,26.266667,70.400000,0.256467,0.318200,0.391200,0.709400